services:
  bot:
    image: gpt-survey-summarizer
    build: .
    command: bot
    environment:
      DISCORD_TOKEN: ""
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ""
      CLIENT_ID: ""
      GUILD_ID: ""
      SUMMARIZE_FREQUENCY_SECONDS: ""
  summarizer:
    image: gpt-survey-summarizer
    build: .
    command: summarizer
    environment:
      OPENAI_API_KEY: ""
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ""
      SUMMARIZE_FREQUENCY_SECONDS: ""
  redis:
    image: redis
